body, html {
    height: 100%;
    padding:0;
    margin:0;
  }
  .creepster-regular {
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  .creepster-66 {
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 66px !important;
  }
  
  #headerGrad {
    width: 100%;
    background-color: red; /* For browsers that do not support gradients */
    background-image: radial-gradient(red, black);
  }
  
  .nav {
      background-color: red;
      padding:1px;
  }
  .parallax {
    /* The image used */
    background-image: url('../img/env/1_game_background.png');
  
    /* Full height */
    height: 60%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallax2 {
    /* The image used */
    background-image: url('/img/dk_bg1.png');
  
    /* Full height */
    height: 50%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: middle;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallax3 {
    /* The image used */
    background-image: url('/img/pumpkin.png');
  
    /* Full height */
    height: 60%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .container {
    position: relative;
  }
  .container2 {
    position: relative;
  }
  .bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
    color:white;
  }
  .bottomCenter {
    position: absolute;
    
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color:black;
   
  }
  .topCenter {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color:black;
   
  }
  #demo {
    border: 1px solid black;
      position: absolute;
    top: 70%;
    left: -90%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    background-color: black;
    color:white !important;
    font-weight: 800;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:100px;
    padding-right:5px;
    opacity:.7;
    width:900px;
  
  }
  #dkFly {
    width: 250px;
    height: 300px;
   /* background: red;*/
    background-image: url('run.png');
    background-repeat: none;
    position: relative;
    animation-name: example;
    animation-duration: 3s;  
    animation-fill-mode: forwards;
  }
  @keyframes example {
    from {left: 0px;}
    to {left: 200px; background-image: url('run.png');}
  }
  
  #move {
   
    
    color:white;
   /* background-image: url('run.png');*/
    background-repeat: none;
    position: relative;
    animation-name: move;
    animation-duration: 3s;  
    animation-fill-mode: forwards;
    border:1px groove grey;
  }
  @keyframes move {
    from {left:-200px;}
    to {left: 20px; }
  }
  #move-right {
    
    
    color:white;
   /* background-image: url('run.png');*/
    background-repeat: none;
    position: relative;
    animation-name: move-right;
    animation-duration: 3s;  
    animation-fill-mode: forwards;
    animation-direction: backwards;
    border:1px groove grey;
  
  }
  @keyframes move-right {
    from {right: -200px;}
    to {right: 20px; }
  }
  video {
    max-width: 100%;
    height: auto;
  }
  .flex-container {
    display: flex;
    background-color: red;
    border-top: solid black 1px;
  
  
   /* justify-content: center;
    align-items: center;*/
  
  }
  .flex-container-no {
    display: flex;
  
  
  }
  .center-everything {
    justify-content: center;
    align-items: center;
  }
  
  .flex-container > div {
    margin: 10px;
    text-align: center;
    justify-content: center;
   
  }
  .flex-grid {
    display: flex;
  }
  .flex-grid .col {
    flex: 1;
  }
  .flex-grid-thirds {
    display: flex;
    justify-content: space-between;
  }
  .flex-grid-thirds .col {
    width: 32%;
  }
  .flex-grid { 
    margin: 0 0 20px 0;
  }
  .col {
    padding: 20px;
  }
  #green1{
    position: absolute;
    top: 10%;
    left:0;
    border-radius:0px 12px 12px 0px;
  
    
  }
  #green2{
    position: absolute;
    top: 50%;
    right:0;
    border-radius:12px 0px 0px 12px;
  
   
  }
  .footer {
      background-color: black;
      color:white;
      height:200px;
  }
  
  #grad1 {
   
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(red, black);
  }
  #grad2 {
   
   background-color: red; /* For browsers that do not support gradients */
   background-image: linear-gradient(black, green);
  }
  #grad3 {
   height:100px;
   background-color: red; /* For browsers that do not support gradients */
   background-image: linear-gradient(brown, black);
  }
  #grad4 {
   height:250px;
   background-color: red; /* For browsers that do not support gradients */
   background-image: linear-gradient(red, white);
  }
  #grad5 {
   height:250px;
   background-color: red; /* For browsers that do not support gradients */
   background-image: linear-gradient(black, white);
  }
  
  .center {
    margin: auto;
    width: 50% !important;
    padding: 10px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size:36px;
    font-weight: bold;
   
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    text-decoration: underline;
  }
  .aboutBtn {
      font-weight: 600;
      fill: var( --e-global-color-860a4a1 );
      color: var( --e-global-color-860a4a1 );
      background-color: #FFFFFFA3;
      border-style: solid;
      border-width: 1px 1px 1px 1px;
      border-color: var( --e-global-color-1f862d6 );
      border-radius: 30px 30px 30px 30px;
      padding: 10px 20px 10px 20px;
      height:40px;
  }
  .header {
    text-align: center;
    padding: 2px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  .hr-line-primary{
    width:100%;
    margin:0;
    height: 80px;
    border:none;
    color:transparent;
    overflow:hidden;
    max-width:1280px;
    margin:auto;
    background: url('img/skeleton_run_00.svg') no-repeat center;
    display:flex;
    align-items:center;
  }
  .hr-line-primary:before{
    content:"";
    flex:1 0 100%;
    height:2px;
    background:linear-gradient(to right, #000 calc(50% - 30px), transparent calc(50% - 30px),transparent calc(50% + 30px), #000 calc(50% + 30px));
  }
  
  .enemy-flex-container {
    max-width:1280px;
    display: flex;
    flex-direction: row;
  }
  .enemy-flex-item {
    flex: 33.33%;
  }
  .padding-right-100 {
    padding-right: 100px;
    padding-bottom:100px;
  }
  @media (max-width: 400px) {
    .flex-grid,
    .flex-grid-thirds {
      display: block;
      .col {
        width: 100%;
        margin: 0 0 10px 0;
      }
    }
  }
  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
    .enemy-flex-container {
      flex-direction: column;
    }
    ul.creepster-regular, #logo {
      display:none;
    }
  }
  /* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
  @media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }
